<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","style":{"spacing":{"padding":{"top":"var:preset|spacing|section-md","bottom":"var:preset|spacing|section-md"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
  <!-- wp:query-title {"type":"archive"} /-->
  <!-- wp:query {"queryId":1,"query":{"perPage":10,"inherit":true}} -->
  <div class="wp-block-query">
    <!-- wp:post-template -->
      <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"32px"}}}} -->
      <div class="wp-block-group">
        <!-- wp:post-title {"isLink":true} /-->
        <!-- wp:post-excerpt /-->
        <!-- wp:post-date /-->
      </div>
      <!-- /wp:group -->
    <!-- /wp:post-template -->
    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} /-->
  </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->