<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","style":{"spacing":{"padding":{"top":"var:preset|spacing|section-md","bottom":"var:preset|spacing|section-md"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
  <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"40px"}}}} /-->
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->